<h3>Pingry COVID-19 Update</h3>
<h5>Your child's quarantine has ended</h5>
<hr/>

<p>Dear Parent/Guardian of <%= "#{@student.first_name}"%>,</p>

<p>According to Pingry's records, your child has completed the final day of their quarantine today on <%= @quarantine.end_date ? @quarantine.end_date : Date.today %> and will be able to return to campus effective <%= @quarantine.end_date ? @quarantine.end_date + 1 : Date.today + 1%>.</p>

<p><strong>If your child has developed symptoms or tested positive for COVID-19 during their quarantine, please contact us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</strong></p>

<p><strong>We ask that you inform Pingry if your child will be switching from a remote learner to an in-person learner by emailing the appropriate divisional attendance email:</strong></p>


<ul>
    <li>Lower School: <a href="mailto:lsattendance@pingry.org">lsattendance@pingry.org</a>  + your child's homeroom teacher</li>
    <li>Middle School: <a href="mailto:msattendance@pingry.org">msattendance@pingry.org</a> </li>
    <li>Upper School: <a href="mailto:usattendance@pingry.org">usattendance@pingry.org</a></li>
</ul>

<p>Thank you for your help in keeping Pingry safe, and welcome back!</p>

<p>The Pingry School</p>
<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
