<h3>Pingry COVID-19 Update</h3>
<h5>Your quarantine has ended</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>According to Pingry's records, you have completed the final day of your quarantine today on <%= Date.today %> and will be able to return to campus starting tomorrow on <%= Date.today + 1%>.</p>

<p>If you have developed symptoms or tested positive for COVID-19 during your quarantine, please contact us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>As long as you have not developed any symptoms throughout quarantine, we look forward to seeing you back on campus tomorrow. If there are changes to report, please contact <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>This information is confidential and will only be shared as needed within Pingry’s Contact Tracing Team. <strong>To ensure a smooth transition back to campus, please reach out to:</p>
<ol>
    <li>Human Resources and</li>
    <li>Either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor.</li>
</ol>

<p>Thank you for your help in keeping Pingry safe, and welcome back!</p>

<p>The Pingry School</p>
<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>