<p>Dear Parent/Guardian of <%= "#{@student.first_name}"%>,</p>

<p>We are reaching out to you to provide additional information regarding your child’s participation in Pingry’s weekly pooled testing with Mirimus.</p>

<p>There are three scenarios:</p>
<ol>
    <li>Your child is quarantined because an individual in your household currently has an active case of COVID-19. If this is the case, do <strong>not</strong> participate in Pingry’s weekly pooled testing cycles with Mirimus until the active case has completed their isolation and is no longer infectious. Pooled testing is designed for situations where the number of positive test results is expected to be low (<a href="https://www.cdc.gov/coronavirus/2019-ncov/lab/pooling-procedures.html#:~:text=When%20should%20pooling%20be%20used,SARS%2DCoV%2D2%20infections.">CDC</a>). Should you wish to know more about your COVID-19 status, we encourage you to explore independent PCR testing (<a href="https://covid19.nj.gov/pages/testing#test-sites">New Jersey’s COVID-19 test finder</a>) and reach out to <a href="mailto:golvera@pingry.org">Mr. Gilberto Olvera</a> should you have access difficulty. Once the active case in your household has completed their isolation, you will fall into the next scenario (Scenario 2).</li>
    <li>Your child is in quarantine and will continue to be in quarantine through the next testing cycle (i.e., will not be seeking campus access) but would like to participate in Pingry’s weekly pooled testing with Mirimus.</li>
    <li>Your child is in quarantine, will exit quarantine before the next testing cycle and will be seeking campus access.</li>
</ol>

<p>Should you wish to speak to a contact tracer about your specific situation, please reach out to us at <a href="mailto:contacttracing@pingry.org">contracttracing@pingry.org</a>. If your child falls into Scenario 2 or Scenario 3 and would like to participate in the upcoming testing cycle, please see below. Additional questions regarding Pingry Anywhere can be directed to <a href="mailto:pingryanywhere@pingry.org">PingryAnywhere@pingry.org</a>.</p>

<p>This week’s testing cycle information can be found <a href="https://pingryanywhere.org/health-safety/covid-19-testing/">here</a>.</p>

<p>Our records show that your child’s quarantine ends on <%= @quarantine.end_date || (@quarantine.is_seven_day ? @quarantine.exposure + 7 : @quarantine.exposure + 14) %> and the first day your child is permitted to be back on campus is on <%= @quarantine.end_date ? @quarantine.end_date + 1 : (@quarantine.is_seven_day ? @quarantine.exposure + 8 : @quarantine.exposure + 15) %> provided that you are in compliance with <a href="https://pingryanywhere.org/health-safety/covid-19-testing/">Pingry’s testing policy</a>. In the event that your quarantine ends during the campus access window of this upcoming testing cycle and you would like to return in-person, please participate in this week’s testing cycle through one of the below options:</p>

<p><strong>Option 1: Proxy on Distribution Day and Collection Day</strong>—The quarantined individual does not come to campus. A proxy picks up the quarantined individual's test kit on distribution day. The quarantined individual provides the saliva sample at home. A proxy drops off the quarantined individual's test kit, accompanied by their Pingry ID, to a collection station on collection day prior to 9:15 a.m.</p>

<p><strong>Option 2: Same-Day Sample on Distribution Day via Proxy</strong>—The quarantined individual comes to campus with a proxy on distribution day. While the quarantined individual remains in the vehicle, the proxy picks up the test kit between 2:00 p.m.–6:00 p.m. ET from the BAC (Basking Ridge Campus) or the Front Desk (Short Hills Campus). The quarantined individual provides a sample while remaining in the vehicle. The proxy then returns it to the testing team immediately.</p>

<p><strong>Option 3: Mailed Distribution Kit and Proxy Drop Off</strong>—The school mails a testing kit to the individual. Between 2:00 p.m.–6:00 p.m. on distribution day, a proxy drops off the completed test kit on behalf of the quarantined individual, accompanied by their Pingry ID, either to the BAC (Basking Ridge Campus) or the Front Desk (Short Hills Campus). The proxy may also drop off the completed test kit, accompanied by the individual's Pingry ID, prior to 9:15 a.m. on collection day. If you would like to discuss this option that requires a mailed kit, please immediately reach out to <a href="mailto:jbraun@pingry.org">Julia Braun</a>.</p>

<p><strong>Option 4: Participate in the next Testing Cycle</strong>—In this scenario, the quarantined individual would not be permitted on campus immediately after their quarantine ends because they will not have participated in the previous testing cycle. The earliest the quarantined individual would be able to return, post-quarantine, is on the next collection day. A proxy would need to pick up a testing kit during the next testing cycle's distribution day or the School can mail a testing kit. The individual can return their own test kit on collection day once out of quarantine. If you would like to discuss this option and would like to request a mailed kit, please immediately reach out to <a href="mailto:jbraun@pingry.org">Julia Braun</a>.</p>

<p><strong>Option 5: Participate in an Independent PCR Test Aligned with Pingry's Testing Cycles</strong>—Individuals may also choose to participate in an independent PCR Test that falls within 48 hours of Pingry’s test collection day. Results need to be sent to the nurses before access to campus is granted. For those on the Short Hills Campus, please submit test results to <a href="mailto: pedell@pingry.org">Paula Edell</a>. For those on the Basking Ridge Campus, please submit test results to <a href="mailto: jdibiasi@pingry.org">Jennifer DiBiasi</a> and <a href="mailto: jlivak@pingry.org">Joy Livak</a>.</p>

<p>Please note that the pick up and drop off of testing kits can occur on either campus; please choose whichever is most convenient for you and your family.</p>

<p>Thank you,</p>
<p>Pingry’s Contact Tracing Team</p>
<a href="mailto:contracttracing@pingry.org">contacttracing@pingry.org</a>