<h3>Pingry COVID-19 Update</h3>
<h5>Notice of transfer to isolation protocol</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>We are sorry to hear about your positive COVID-19 diagnosis and the resulting change in your quarantine status. We will be following up shortly via email with updates regarding your status.</p>

<p>A member of the Pingry Contact Tracing Team will be calling you shortly to conduct a contact tracing interview and connect on next steps. If you do not receive a call within the next 24 hours, please reach out to us at <a href="mailto:contacttracing@pingry.org">contracttracing@pingry.org</a>. It is essential that you connect with our Contact Tracing Team to help minimize potential community spread.</p>

<p>This information is confidential and will only be shared as needed within Pingry’s Contact Tracing Team. <strong>Please immediately:</p>
<ol>
    <li>Contact Human Resources and</li>
    <li>Either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will not directly pass this information on to these individuals on your behalf.</li>
</ol>
<p>If you have updates regarding your status, please email us at <a href="mailto:contacttracing@pingry.org">contracttracing@pingry.org</a>.</p>

<p>Thank you for your help in keeping Pingry safe, and best wishes for a speedy recovery! You may receive more information from your local health department for additional contact tracing efforts.</p>
<p>Best wishes for a speedy recovery,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>