<h3>Pingry COVID-19 Update</h3>
<h5>Your quarantine has ended</h5>
<hr/>

<p>Dear <%= "#{@student.first_name} #{@student.last_name}"%>,</p>

<p>According to Pingry's records, you have completed the final day of your 14 day quarantine. The updated status of your quarantine is listed below:</p>

<ul>
    <li>Date of Exposure: <%= @quarantine.exposure %></li>
    <li>Date of Completion: <%= @quarantine.exposure + 14 %></li>
    <li>Status: <%= if @quarantine.completed
            "Complete"    
        else 
            "Incomplete"
        end %></li>
</ul>

<p>As long as you have not developed any symptoms throughout quarantine, we look forward to seeing you back on campus! If there are changes to report, please contact <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>. Thank you for your help in keeping Pingry safe, and welcome back!</p>

<p>The Pingry School</p>
<img src="https://americanwaterpolo.org/wp-content/uploads/2018/07/PingrySchool_WhiteJuly232018.jpg" width=100 height=50>