<h3>Pingry COVID-19 Update</h3>
<h5>You have started an isolation period.</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>Thank you for notifying Pingry of your positive COVID-19 diagnosis. Your willingness to share this information will help ensure we continue to keep our community safe. Our wishes are for your speedy and restful recovery.</p>

<p>According to the information on file, you entered a mandatory 10-day-minimum isolation starting on <%= @isolation.start_isolation %> and ending at the earliest on <%= @isolation.start_isolation + 10%>. Your earliest possible date of return to campus is on <%= @isolation.start_isolation + 11%>. If you are symptomatic, you will need to be fever-free for at least 24 hours without the use of fever suppressants and show improvement of symptoms before being released from isolation. We will be periodically checking in with you during your isolation. During this isolation period, you are not permitted on Pingry campuses or at in-person Pingry events.</p>

<p>A member of the Pingry Contact Tracing Team will be calling you shortly to conduct a contact tracing interview and connect on next steps. If you do not receive a call within the next 24 hours, please reach out to us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>. It is essential that you connect with our Contact Tracing Team to help minimize potential community spread.</p>

<p>This information is confidential and will only be shared as needed within Pingry’s Contact Tracing Team. Please take the following actions immediately:</p>
<ol>
    <li>Contact Human Resources and</li>
    <li>Contact either your Division Director (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will not directly pass this information on to these individuals on your behalf.</li>
</ol>

<p>If you have updates regarding your status, please email us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a>.</p>

<p>Thank you for your partnership as we work to keep Pingry safe! You may receive more information from your local health department for additional contact tracing efforts.<p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>
