<h3>Pingry COVID-19 Update</h3>
<h5>Your child’s isolation is complete.</h5>
<hr/>

<p>Dear Caregiver of <%= "#{@student.first_name}"%>,</p>


<p>We are pleased to inform you that <%= @student.first_name %>’s isolation has been completed. According to your most recent communication with The Pingry School, and the documentation you provided to the school nurses verifying <%= @student.first_name %>’s recovery, your child is ready to return to campus effective immediately. Please note that your child should not participate in our weekly pooled testing until the testing cycle after <%= @isolation.start_isolation + 90 %>. Please reach out with any questions or concerns you may have.</p>

<p>Thank you for your partnership as we work to keep Pingry safe!</p>

<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>