<h3>Pingry COVID-19 Update</h3>
<h5>You have started an isolation period.</h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>


<p>The Pingry School has been notified that you have been identified as one of two individuals in a potentially positive pair resulting from Pingry’s weekly COVID-19 testing. Until we can determine your result, you <strong>must isolate immediately starting on <%= @isolation.start_isolation %></strong>. During this isolation period, you are not permitted on Pingry campuses or at in-person Pingry events at any time for any reason.</p>

<p>For your convenience and peace of mind, Pingry has partnered with a third party physicians group that can review your original sample and provide a diagnostic result within hours of registration. Click on this <a href="https://covid-app.meenta.io/pooling/m1gT7fzM14Rny1dtrp7C">link</a> to register for an account with this partner and have your results read. To begin the registration process, you will need to enter your vial barcode number, which is <strong><%= @isolation.barcode %></strong>. A detailed guide on how to register can be found attached to this email. A member of the Pingry Contact Tracing Team is on hand to assist you through the process if needed. Please forward the resulting reporting to <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a> immediately upon receipt. If the report details that Covid-19 is NOT DETECTED in your sample, your isolation will be released. <strong>If the report details that Covid-19 is DETECTED, our Contact Tracing team will schedule a call at your earliest immediately available time, preferably within an hour of learning of the results.</strong></p>

<p><strong>Please immediately:</p>
<ol>
    <li>Contact Human Resources and</li>
    <li>Contact either your Division Director</strong> (and Department Chair for Basking Ridge Faculty) or your Direct Supervisor to discuss how and whether you can fulfill your employment duties while not on campus. The Contact Tracing Team will <em>not</em> directly pass this information on to these individuals on your behalf.</li>
</ol>

<p>Please notify us at <a href="mailto:contacttracing@pingry.org">contacttracing@pingry.org</a> immediately of any changes to your status, including if you become symptomatic (e.g., fever, sore throat, uncontrolled cough, diarrhea, vomiting, abdominal pain, severe headache).</p>

<p>Thank you for your partnership as we work to keep Pingry safe!</p>

<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>

