<h3>Pingry COVID-19 Update</h3>
<h5>Your child has been identified as a close contact </h5>
<hr/>

<p>Dear Caregiver of <%= "#{@student.first_name}"%>,</p>

<p>Your child has been in close contact with a member of our community who recently tested positive for COVID-19. Your child was most likely exposed on <%= @contact.exposure %>.</p>

<% if @contact.recent_recovery %>

    <p>Our records indicate that your child recovered from COVID-19 within the past 90-days. As such, your child:</p>

    <ul>
        <li>Is not required to participate in Pingry’s pooled testing cycles throughout the remainder of the 90-day period</li>
        <li>Is not required to seek an outside COVID-19/PCR test</li>
        <li>Will not be excluded from school</li>
        <li>Should monitor for symptoms</li>
    </ul>

<% else %>
    <p>Our records indicate that your child is fully vaccinated against COVID-19 and has received all reccommended vaccine doses. In accordance with guidance from the <a href="https://www.state.nj.us/health/cd/documents/topics/NCOV/RecommendationsForLocalHealthDepts_K12Schools.pdf">New Jersey Department of Health</a>, your child:</p>

    <ul>
        <li>Must continue to participates in Pingry’s required weekly pooled testing cycles</li>
        <li>Is <strong>not</strong> required to seek an outside COVID-19/PCR test </li>
        <li>Will not be excluded from school</li>
        <li>Should monitor for symptoms</li>
    </ul>

<% end %>

<p>If <%= "#{@student.first_name}"%> experiences any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">symptoms of COVID-19</a>, please contact your healthcare provider and contact <a href="mailto:contacttracing@pingry.org">Pingry’s Contact Tracing Team.</a></p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. If you need additional information, please review our up-to-date health and safety policies on our <a href="https://www.google.com/url?q=https://www.pingry.org/hp/21-22-bettertogether&sa=D&source=docs&ust=1643777284736289&usg=AOvVaw3nPSz3M8D7glJJDOmrq3Bq">Better Together page.</a></p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>