<% if @contact.recent_recovery %>

<h3>Pingry COVID-19 Update</h3>
<h5>You have been identified as a close contact </h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>You have been in close contact with a member of our community who recently tested positive for COVID-19. You were most likely exposed on <%= @contact.exposure %>.</p>

<p>Our records indicate that you have recovered from COVID-19 within the past 90-days. As such, you:</p>

<ul>
    <li>Are not required to seek an outside COVID-19/PCR test</li>
    <li>Will not be excluded from school</li>
    <li>Should monitor for symptoms</li>
</ul>

<p>If you experience any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">symptoms of COVID-19</a>, please contact your healthcare provider and contact Pingry’s <a href="mailto:contacttracing@pingry.org">Contact Tracing Team.</a></p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. If you need additional information, please review our up-to-date health and safety policies on our <a href="https://www.pingry.org/hp/21-22-bettertogether">Better Together page.</a></p>

<% else %>

<h3>Pingry COVID-19 Update</h3>
<h5>You have been identified as a close contact </h5>
<hr/>

<p>Dear <%= "#{@student.first_name}"%>,</p>

<p>You have been in close contact with a member of our community who recently tested positive for COVID-19. You were most likely exposed on <%= @contact.exposure %>.</p>

<p>Our records indicate that you are fully vaccinated against COVID-19 and have received all recommended vaccine doses. In accordance with guidance from the <a href="https://www.state.nj.us/health/cd/documents/topics/NCOV/RecommendationsForLocalHealthDepts_K12Schools.pdf">New Jersey Department of Health</a>, you</p>

<ul>
    <li>Should seek a viral test 3 to 5 days after your exposure</li>
    <li>Will not be excluded from school</li>
    <li>Should monitor for symptoms</li>
</ul>

<p>If you experience any <a href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html">COVID-19 symptoms</a>, please contact your healthcare provider and Pingry’s <a href="mailto:contacttracing@pingry.org">Contact Tracing Team.</a></p>

<p>We truly appreciate your cooperation in keeping the Pingry community safe. If you need additional information, please review our up-to-date health and safety policies on our <a href="https://www.pingry.org/hp/21-22-bettertogether">Better Together page.</a></p>

<p>Thank you,</p>
<p>The Pingry School</p>

<p>CONFIDENTIAL AND/OR PRIVILEGED: This communication contains information intended only for use by the individual or entity to which it is addressed and may contain private and/or sensitive information. If you are not the intended recipient or have received this message in error, you are hereby notified that any disclosure, copying, distribution or use of its content is strictly prohibited and illegal. If you have received this transmission in error, please notify the above sender immediately and permanently destroy all copies of this message.</p>

<% end %>